.contacts {

    @media (max-width: 767px) {
        display: inline-flex;
        flex-direction: column-reverse;
        margin-bottom: 64px;
    }

    @media (min-width: 768px) {
        display: block;
        text-align: center;
        margin-left: 75px;
    }

    @media (min-width: 1200px) {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-left:200px;
    }

    &__item {
        @media (max-width: 767px) {
            margin-bottom: 32px;
        }
        
        @media (min-width: 768px) {
            margin-bottom: 10px;
        }

        @media (min-width: 1200px) {
            margin-bottom: 0;
        }
    }

    &__item:last-child {
        @media (min-width: 768px) {
            margin-bottom: 0;
        }
    }
    
    &__item:not(:last-child) {
        @media (max-width: 767px) {
            margin-bottom: 0;
        }
        
        @media (min-width: 1200px) {
            margin-right: 50px;
        }
    }

    &__link {
        @media (max-width: 767px) {
            font-weight: 500;
            font-size: 24px;
            line-height: 1.166;
            letter-spacing: 0.02em;
            color: $primaryTextColor;
        }

        display: flex;
        align-items: center;
        justify-content: start;

        color: $primaryTextColor;
        fill: $primaryTextColor;
    }

    &__link:hover,
    &__link:focus {
        color: $accentColor;
        fill: $accentColor;

        transition: color 250ms $mainAnimation,
        fill 250ms $mainAnimation;

        @media (max-width: 767px) {
            transform: scale(1.1);
            transition: scale 250ms $mainAnimation;
        }
    }

    &__icon {
        display: none;
        margin-right: 10px;
        vertical-align: middle;

        @media (min-width: 768px) {
            display: block;
        }
    }
}