.container {
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;

    // mobile
    @media (min-width: 480px) {
        width: 480px;
        // outline: 3px solid red;
    }

    // tablet version
    @media (min-width: 768px) {
        width: 768px;
        // outline: 3px solid green;
    }

    // descktop version
    @media (min-width: 1200px) {
        width: 1200px;
        // outline: 3px solid tomato;
    }
}