.logo-container {
    padding: 16px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-nav {
    @media (max-width: 767px) {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 48px 40px;
        background-color: $dutyWhiteColor;
        transition: transform 250ms $mainAnimation;
        z-index: 1;
    }

    @media (min-width: 768px) {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &.is-open {
        @media (max-width: 767px) {
            display: block;
        }
    }
    
    &__list {
        @media (max-width: 767px) {
            margin-bottom: 302px;
        }

        @media (min-width: 768px) {
            display: flex;
            justify-content: center;
        }
    }

    &__item:not(:last-child) {
        @media (min-width: 768px) {
            margin-right: 50px;
        }
    }

    &__item {   
        height: auto;

        @media (min-width: 768px) {
            height: 80px;
        }
    }

    &__item:not(:last-child) {
        @media (max-width: 767px) {
            margin-bottom: 32px;
        }
    }

    &__link {

        @media (max-width: 767px) {
            justify-content: start;
            font-weight: 500;
            font-size: 40px;
            line-height: 1.175;
            letter-spacing: 0.02em;
        }

        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        
        width: 100%;
        height: 100%;

        font-weight: 500;
        font-size: 14px;
        line-height: 1.142;
        letter-spacing: 0.02em;
        color: $secondaryTextColor;

        color: $secondaryTextColor;
        transition: color 250ms $mainAnimation;
    }

    &__link:not(:last-child) {
        margin-right: 50px;

        @media (min-width: 1200px) {
            margin-right: 93px;
        }
    }

    &__link::after {
        content: '';
        @media (min-width: 768px) {
            position: absolute;
            bottom: 0;
            left: 0;

            display: inline-block;
            width: 100%;
            height: 4px;
            background-color: $accentColor;
            border-radius: 2px;

            transform: translateY(+50%);
            transition: opacity 250ms $mainAnimation;
            opacity: 0;
        }
    }

    &__link:hover,
    &__link:focus {
        color: $accentColor;
    }

    &__link:hover::after {
        @media (min-width: 768px) {
            opacity: 1;
        }
    }
}

.current {
    color: $accentColor;

    &.main-nav__link::after {
        opacity: 1;
    }
}