.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    @media (min-width: 768px) {
        display: block;
    }

    @media (min-width: 768px) {
        display: flex;
        align-items: center;
    }
    
    &__list {
        display: none;
        // @media (max-width: 768px) {
        //     display: none;
        // }

        @media (min-width: 768px) {
            display: flex;
            justify-content: center;
            margin-left: 93px;
        }
    }

    &__item:not(:last-child) {
        @media (min-width: 768px) {
            margin-right: 50px;
        }
    }

    &__item {   
        height: 80px;
    }

    &__link {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        
        width: 100%;
        height: 100%;

        color: $secondaryTextColor;
        transition: color 250ms $mainAnimation;
    }

    &__link::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;

        display: inline-block;
        width: 100%;
        height: 4px;
        background-color: $accentColor;
        border-radius: 2px;

        transform: translateY(+50%);
        transition: opacity 250ms $mainAnimation;
        opacity: 0;
    }

    &__link:hover,
    &__link:focus {
        color: $accentColor;
    }

    &__link:hover::after {
        opacity: 1;
    }
}

.current {
    color: $accentColor;

    &.main-nav__link::after {
        opacity: 1;
    }
}

.menu-button {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
    transition: fill 250ms $mainAnimation;

    @media (min-width: 768px) {
        display: none;
    }
}

.menu-button:hover,
.menu-button:focus {
    fill: $accentColor;
}

.menu-button .icon-cross {
    display: none;
}

.menu-button.is-open .icon-cross {
    display: block;
}

.menu-button.is-open .icon-menu {
    display: none;
}