.socials {
    display: flex;
    justify-content: center;

    height: 44px;

    &__item {
        margin-right: 10px;
    }

    &__item:last-child {
        margin-right: 0px;
    }

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 44px;
        height: 44px;

        fill: $iconsColor;

        transition: background-color 250ms $mainAnimation,
        fill 250ms $mainAnimation;

        border-radius: 50%;
    }

    &__link:hover,
    &__link:focus {
        background-color: $accentColor;
        fill: $dutyWhiteColor;
    }

    &__icon {
        width: 20px;
        height: 20px;
    }
}