.menu-button {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
    transition: fill 250ms $mainAnimation,
    transform 250ms $mainAnimation;
    z-index: 1;

    @media (min-width: 768px) {
        display: none;
    }
}

.menu-button:hover,
.menu-button:focus {
    fill: $accentColor;
}

.menu-button .icon-cross {
    display: none;
}

.menu-button.is-open .icon-cross {
    display: block;
}

.menu-button.is-open .icon-menu {
    display: none;
}