.page-header {

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    border-bottom: 1px solid #ECECEC;
}

.header-container {
    @media (min-width: 768px) {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}